prune .github
prune .fabric
prune docs
prune tests
prune TabularEditor
prune PBIR-Inspector
prune analyzer-results
prune .venv
prune build
prune dist
prune pypi-package
exclude .env
exclude .env.example
exclude pytest.ini
exclude bandit-report.json
exclude bpa-results.json
exclude coverage.json
exclude apm.lock.yaml
exclude apm.yml
